@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fafafa;
    font-size: 16px;
    font-family: sans-serif;
    overflow: hidden;
}

.topnav {
    background: transparent;
    padding: 20px;
    box-shadow: 5px 5px 20px #000;
}
.topnav a {
    text-decoration: none;
    color: #000;
    padding: 20px;
}
.topnav .logo {
    font-family: 'Lemonada', cursive;
}
.topnav .logo:hover {
    background: none;
    color: #000;
}

.topnav a:hover {
    background: #67a9ed;
    padding: 20px;
    transition: 0.5s;
    border-radius: 30px;
    color: #fff;
}

#footer {
    position:fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background:#999;
 }
 
 #footer p {
     text-align: center;
     color: #f5f5f5;
     padding: 5px;
     font-family: 'Baloo Tamma 2', cursive;
 }

 /* IE 6 */
 * html #footer {
    position:absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
 }