@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    overflow: hidden;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.topnav {
    background: rgba(12, 14, 23, 0.43);
    padding: 20px;
}

.topnav a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
}
.topnav .logo {
    font-family: 'Lemonada', cursive;
}
.topnav .logo:hover {
    background: none;
    color: #fff;
}
.topnav .active {
    background: rgba(12, 14, 23, 0.43);
    padding: 20px;
    border-radius: 30px;
    color: #fff;
}

.topnav a:hover {
    background: rgba(12, 14, 23, 0.43);
    padding: 20px;
    transition: 0.5s;
    border-radius: 30px;
    color: #fff;
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgba(12, 14, 23, 0.43);
    position: fixed;
    padding: 80px;
}
.container .column-1 { /* column 1 */
    width: 45%;
    float: left;
    height: 70vh;
    padding: 100px;
    background-color: #fff;
    border-radius: 10px;
}
.column-1 img {
    width: 150px;
    border-radius: 100px;
    float: left;
    border: 1px solid black;
    margin-top: 5%;
}
.column-1 a img {
    width: 10%;
    margin: 8px;
    border: none;
}

.column-1 h1 {
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Lemonada', cursive;
}
.column-1 p {
    float: right;
    text-align: justify;
    width: 410px;
    line-height: 1.5em;
    font-family: 'Baloo Tamma 2', cursive;
}
.column-1 img {
    width: 150px;
    border-radius: 100px;
    float: left;
    border: 1px solid black;
    margin-top: 5%;
}

.container .column-2 { /* column 2 */
    width: 45%;
    float: right;
    height: 70vh;
    padding: 100px;
    background: #fff;
    border-radius: 10px;
}

.skills h1 {
    font-size: 24px;
    margin-left: 5px;
    margin-top: 10px;
    font-family: 'Lemonada', cursive;
}

.skills p {
    margin: 10px;
    font-family: 'Baloo Tamma 2', cursive;
}

.skills .html {
    width: 80%;
    background: orange;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    font-family: 'Baloo Tamma 2', cursive;
}

.skills .css {
    width: 50%;
    background: #67a9ed;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    font-family: 'Baloo Tamma 2', cursive;
}

.skills .js {
    width: 10%;
    background: #f1c371;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    font-family: 'Baloo Tamma 2', cursive;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: rgba(12, 14, 23, 0.43);
    padding: 10px;
}
 
#footer p {
    text-align: center;
    color: #fff;
    padding: 5px;
    font-family: 'Baloo Tamma 2', cursive;
}

 /* IE 6 */
 * html #footer {
    position:absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
 }